{% extends 'base.html.twig' %}
{% block body %}
    <body>
    <div id="container" class="container">

        <div class="base-errors-content-holder">

            <h1 class="text-center">404: pagina non trovata</h1>

            <div class="error-text text-center">
                <p>Ci dispiace, ma <<
                    <br>
                    <span>
                    <span id="page"></span>
                    <span><br>
                        <script>
                            document.getElementById("page").innerHTML =
                                "la pagina con l'indirizzo: " + window.location.pathname;
                        </script>
                    </span>
                </span>
                   >>> non esiste.
                </p>
                Prova a controllare il link per gli errori.
            </div>
            <br>

            <div class="link-wrapper text-center">
                <a href="{{ path('product_list') }}" class="store-logo">
                    <h3>Product List</h3>
                </a>
            </div>

        </div>

    </div> <!-- /container -->
    </body>
{% endblock %}