{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>
    <form method="get" action="{{ path('handleSearch') }}">
        <input type="submit" class="search_submit" value=""/>
        <input required aria-labelledby="search-label" type="text" name="q" class="search"
               placeholder=" Поиск"
               value="{{ app.request.query.get('q') }}"/>
    </form>
    <div class="row">
        {% if products is defined %}
            {% for product in products %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <span>product id: {{ product.id }}</span>
                                <a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.name }}</a>
                            </h4>
                            <h5>{{ product.price }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                {% for product in productsSearch %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <span>product id: {{ product.id }}</span>
                                    <a href="{{ path('variable_show', { 'id': product.id }) }}">{{ product.name }}</a>
                                </h4>
                                <h5>{{ product.price }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

        {% endif %}
        </div>
{% endblock %}
