{% extends 'base.html.twig' %}
{% block title %}
    {% if product.name %}
        {{ product.name }}
    {% endif %}
{% endblock %}
{% block body %}
    <h1>Product</h1>
    <div class="container" id="product-section">

        <div class="row">
            <div class="col-md-6">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            </div>
            <div class="col-md-6">
                {% if product.name %}
                    <div class="row">
                        <div class="col-md-12">
                            <h1>{{ product.name }}</h1>
                        </div>
                    </div><!-- end row-->
                {% endif %}
                {% if product.description %}
                    <div class="row">
                        <div class="col-md-12">
                            <p><b>Description:</b></p>
                            <p class="description">
                                {{ product.description }}
                            </p>
                        </div>
                    </div><!-- end row -->
                {% endif %}
                {% if product.price %}
                    <div class="row">
                        <div class="col-md-12 bottom-rule">
                            <p class="product-price"><b>Price:</b> ${{ product.price|number_format }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if product.sku %}
                    <div class="row">
                        <div class="col-md-12 bottom-rule">
                            <p class="product"><b>Sku:</b> {{ product.sku }}</p>
                        </div>
                    </div><!-- end row -->
                {% endif %}
                {% if product.vat %}
                    <div class="row">
                        <div class="col-md-12 bottom-rule">
                            <p><b>VatType:</b> {{ product.vat.name }} | <b>VatValue:</b> {{ product.vat.value|number_format }}</p>
                        </div>
                    </div><!-- end row -->
                {% endif %}
            </div>
        </div><!-- end row -->
        {% if product.variableProducts %}
            <div>
                <h2>Child Products</h2>
                <hr>
            </div>
            <div class="row">
                {% for variableProduct in product.variableProducts %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <span>product id: {{ variableProduct.id }}</span>
                                    <a href="{{ path('variable_show', { 'id': variableProduct.id }) }}">{{ variableProduct.name }}</a>
                                </h4>
                                <h5>{{ variableProduct.price }}</h5>
                                <p class="card-text">{{ variableProduct.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div><!-- end container -->
{% endblock %}
