{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vats list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vat in vats %}
            <tr>
                <td><a href="{{ path('vat_show', { 'id': vat.id }) }}">{{ vat.id }}</a></td>
                <td>{{ vat.name }}</td>
                <td>{{ vat.value }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vat_show', { 'id': vat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vat_edit', { 'id': vat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vat_new') }}">Create a new vat</a>
        </li>
    </ul>
{% endblock %}
