{% extends 'base.html.twig' %}

{% block body %}
    <h1>Variableproducts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Sku</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for variableProduct in variableProducts %}
            <tr>
                <td><a href="{{ path('variable_show', { 'id': variableProduct.id }) }}">{{ variableProduct.id }}</a></td>
                <td>{{ variableProduct.name }}</td>
                <td>{{ variableProduct.price }}</td>
                <td>{{ variableProduct.description }}</td>
                <td>{{ variableProduct.sku }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('variable_show', { 'id': variableProduct.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('variable_edit', { 'id': variableProduct.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('variable_new') }}">Create a new variableProduct</a>
        </li>
    </ul>
{% endblock %}
