{% extends 'base.html.twig' %}

{% block body %}
    <h1>VariableProduct</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ variableProduct.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ variableProduct.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ variableProduct.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ variableProduct.description }}</td>
            </tr>
            <tr>
                <th>Sku</th>
                <td>{{ variableProduct.sku }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('variable_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('variable_edit', { 'id': variableProduct.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
