{{ form_start(form, {

    'attr': {'class' : 'navbar-form navbar-right', 'action': path ('handleSearch')}

}) }}

{{ form_widget (form.search, {

    'attr': {'class' :'form-control search-query'}

}) }}



{{ form_end (form) }}